<h1>Willkommen <%= user.firstName %></h1>
<p>
  Vielen Dank für deine Registrierung. Damit Du das
  <b>Zeiterfassung-medi Tool</b> benutzen kannst, musst Du deine Registration
  bestätigen.
</p>
<p>
  <%= text %>
  <a href="<%= verifyHref %>"><%= verifyHref %></a>
</p>
<p>Wir wünschen Dir viel Spass mit dem neuen Zeiterfassungs-Tool</p>
